.bloque-category-course{
    padding: 18px 18px;
    border: 1px solid green;
    margin-bottom: 10px;
}

.item-category-course{
    padding: 10px;
    height: 30px;
    background-color: grey;
    color: black;
    margin-left: 10px;
}

.active-category{
    background-color: red !important;
    color: white;
}