<!-- 
<div class="container">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-9">
            <div class="hero-content mt-80">
                <div class="hero-slider-caption">
                    <span data-animation="fadeInUp" data-delay=".5s"><i class="fal fa-ellipsis-h"></i>
                        Welcome To EduPlus</span>
                    <h2 class="mb-45" data-animation="fadeInUp" data-delay=".7s">More than 1200
                        Online Courses</h2>
                    <form class="slider-search-form">
                        <input type="text" placeholder="Search Courses">
                        <button type="submit"><i class="far fa-search"></i></button>
                    </form>
                </div>
                <div class="row support-area align-items-center">
                    <div class="col-xl-6">
                        <p>Sed ut perspiciatis unde omnis natus error sit voluptatem</p>
                    </div>
                    <div class="col-xl-6">
                        <div class="support d-flex align-items-center">
                            <div class="support-icon">
                             
                                <i class="flaticon-24-hours"></i>
                            </div>
                            <div class="support-text">
                                <span>online support</span>
                                <h6>+012 (345) 6789</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slider-img d-none d-sm-block">
    <img class="img-fluid" src="assets/images/01.png" alt="">
</div>

-->
<div class="slider-img d-none d-sm-block bloque-estatico">
    <img class="img-fluid" src="assets/images/bloque_estatico.png" alt="">
</div>
