.datos-course{
    display: block;
    background-color: rgb(205, 236, 187);
    text-align: center;
    padding: 10px;
    margin: 0px;
}


.course-title{
    font-weight: bold;
    font-size: 14pt;
}
.course-instructor{
    font-weight: bold;
    
}

.course-language{
    font-size: 85%;
}

.course-price{
    background-color: red;
    color: white;
}