.datos-instructor{
    display: block;
    background-color: rgb(170, 207, 207);
    text-align: center;
    padding: 10px;
}

.instructor-name{
    font-weight: bold;
}

.datos-instructor p{
    margin: 0px;
}